name: Salesforce Manual Validation

on:
  push:
    branches:
      - dev
      - master
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Salesforce CLI
      run: |
        wget https://developer.salesforce.com/media/salesforce-cli/sf/channels/stable/sf-linux-x64.tar.xz
        mkdir -p ~/cli/sf
        tar xJf sf-linux-x64.tar.xz -C ~/cli/sf --strip-components 1
        export PATH=~/cli/sf/bin:$PATH


    - name: Authenticate to Salesforce Org
      run: |
        sfdx auth:jwt:grant --clientid ${{ secrets.SFDX_CLIENT_ID }} --jwtkeyfile ./server.key --username ${{ secrets.SFDX_USERNAME }} --setdefaultdevhubusername --setalias my-hub-org

    - name: Deploy to Salesforce Org
      run: |
        # Add your deployment steps here
        # For example:
        # sfdx force:source:deploy -p force-app/main/default -u my-hub-org


    
