name: Salesforce Manual Validation

on:
  push:
    branches:
      - dev
      - master
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Install Salesforce CLI
      run: |
        wget https://developer.salesforce.com/media/salesforce-cli/sf/channels/stable/sf-linux-x64.tar.xz
        mkdir -p ~/cli/sf
        tar xJf sf-linux-x64.tar.xz -C cli/sf --strip-components 1
        export PATH=$GITHUB_WORKSPACE/cli/sf/bin:$PATH

    - name: Authenticate to Salesforce Org
      run: |
        echo sf --version


    
